{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_great-ideas">
			<!-- START Great Ideas REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(236,231,228,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-1" data-title="Slide 1" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0603/6707/7513/t/5/assets/fm_great-ideas-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-1-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:60px,60px,60px,0;y:m;yo:30px,30px,30px,170px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1171px,1171px,1171px,480px;h:563px,563px,563px,231px;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0603/6707/7513/t/5/assets/fm_great-ideas-design.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-12" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:r;xo:1668px,1668px,1668px,325px;y:m;yo:20px,20px,20px,-102px;"
								data-text="s:30,30,30,25;l:30;fw:400,400,400,500;a:right,right,right,center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'Roboto';text-transform:uppercase;"
							>Up to 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-13" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="xo:510px,510px,510px,325px;y:m;yo:20px,20px,20px,-102px;"
								data-text="s:30,30,30,25;l:30;fw:400,400,400,500;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'Roboto';text-transform:uppercase;"
							>% off 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-14" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-583px,-583px,-583px,0;y:m,m,m,b;yo:180px,180px,180px,275px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:415px,415px,415px,325px;h:67px,67px,67px,auto;"
								data-blendmode="darken"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/2n3d/psor" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-15" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:c;xo:-580px,-580px,-580px,0;y:m,m,m,t;yo:-170px,-170px,-170px,10px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:80,80,80,56;l:90,90,90,62;ls:2px,2px,2px,1px;fw:800;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:15;font-family:'BrandonText';text-transform:uppercase;"
							>Design<br />Within Reach 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-29px,-29px,-29px,0;y:t,t,t,m;yo:728px,728px,728px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0603/6707/7513/t/5/assets/fm_great-ideas-mobile.jpg" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-1-layer-17" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-580px,-580px,-580px,2px;y:t,t,t,m;yo:316px,316px,316px,-95px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:220px,220px,220px,150px;h:146px,146px,146px,100px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0603/6707/7513/t/5/assets/fm_great-ideas-70.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi1 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0563/0938/3354/files/brandontext.min.css?v=1645103675" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<style type="text/css">@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'), url(https://editor.revsliderapp.com/uploads/2486b9d6d81fd043b50aaae7007c1e69/revslider/gfonts/roboto/roboto-400.woff2) format('woff2');
}@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'), local('Roboto'), url(https://editor.revsliderapp.com/uploads/2486b9d6d81fd043b50aaae7007c1e69/revslider/gfonts/roboto/roboto-500.woff2) format('woff2');
}</style><style type="text/css">@font-face {
  font-family: 'BrandonText';
  font-style: normal;
  font-weight: 800;
  src: local('BrandonText'), local('BrandonText'), url(https://editor.revsliderapp.com/uploads/2486b9d6d81fd043b50aaae7007c1e69/revslider/gfonts/brandontext/brandontext-800.woff2) format('woff2');
}</style>
<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi1;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi1 = window.revapi1===undefined || window.revapi1===null || window.revapi1.length===0  ? document.getElementById("20") : window.revapi1;
			if(window.revapi1 === null || window.revapi1 === undefined || window.revapi1.length==0) { window.revapi1initTry = window.revapi1initTry ===undefined ? 0 : window.revapi1initTry+1; if (window.revapi1initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi1 = revQuery(window.revapi1);
			if(window.revapi1.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi1.revolutionInit({
					revapi:"revapi1",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6343dc8768172",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_great-ideas" ).after( "<div id='revslider_show_great-ideas'></div>" );
                            revQuery( "#revslider_drag_great-ideas" ).hide();
                            revQuery("#revslider_foot_great-ideas").appendTo("#revslider_show_great-ideas");
                            revQuery("#revslider_show_great-ideas .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>