{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_UK-Black-Friday-22">
			<!-- START UK Black Friday 22 REVOLUTION SLIDER 6.5.6.15 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:#000000;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.15">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-2" data-title="Slide 1" data-anim="ms:0ms;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
							<rs-bgvideo 
								data-video="w:100%;h:100%;nse:false;l:true;ptimer:false;vfc:true;"
								data-mp4="//cdn.shopify.com/s/files/1/0603/6707/7513/t/5/assets/fm_Black-Friday-2022.mp4?v=1669068930"
							></rs-bgvideo>
<!--
							--><rs-layer
								id="slider-2-slide-2-layer-6" 
								class="intrinsic-ignore"
								data-type="text"
								data-color="#ffffff"
								data-rsp_ch="on"
								data-xy="x:c;y:c;"
								data-text="w:normal;a:center;"
								data-dim="w:100%;h:100%;"
								data-vbility="f,f,f,f"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:7;font-family:'Roboto';"
							><iframe src="https://fast.wistia.net/embed/iframe/7w5cn382g5?videoFoam=true" title="Black Friday" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen msallowfullscreen width="1920" height="720"></iframe><br />
 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-25" 
								data-type="text"
								data-color="rgba(255,255,255,1)"
								data-rsp_ch="on"
								data-xy="x:c;y:c;yo:-213px;"
								data-text="s:40;l:40;a:inherit;"
								data-frame_0="y:50;"
								data-frame_1="st:11000;sp:500;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:34500;sp:500;"
								style="z-index:8;font-family:'Open Sans';text-transform:uppercase;"
							>Up to 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-2-layer-28" 
								data-type="text"
								data-color="rgba(255,255,255,1)"
								data-rsp_ch="on"
								data-xy="x:c;xo:-18px;y:c;yo:142px;"
								data-text="s:40;l:40;a:center;"
								data-frame_0="y:-50;"
								data-frame_1="st:11000;sp:500;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:34500;sp:500;"
								style="z-index:10;font-family:'Open Sans';"
							>1000s of Selected Lines 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-3" data-title="Slide 1" data-anim="ms:0ms;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
							<rs-bgvideo 
								data-video="w:100%;h:100%;nse:false;l:true;ptimer:false;vfc:true;"
								data-mp4="//cdn.shopify.com/s/files/1/0603/6707/7513/t/5/assets/fm_Black-Friday-2022.mp4?v=1669068930"
							></rs-bgvideo>
<!--
							--><rs-layer
								id="slider-2-slide-3-layer-6" 
								class="intrinsic-ignore"
								data-type="text"
								data-color="#ffffff"
								data-rsp_ch="on"
								data-xy="x:c;y:c;"
								data-text="w:normal;a:center;"
								data-dim="w:100%;h:100%;"
								data-vbility="f,f,f,f"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:7;font-family:'Roboto';"
							><iframe src="https://fast.wistia.net/embed/iframe/7w5cn382g5?videoFoam=true" title="Black Friday" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen msallowfullscreen width="1920" height="720"></iframe><br />
 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-3-layer-25" 
								data-type="text"
								data-color="rgba(255,255,255,1)"
								data-rsp_ch="on"
								data-xy="x:c;y:c;yo:-213px;"
								data-text="s:40;l:40;a:inherit;"
								data-frame_0="y:50;"
								data-frame_1="st:11000;sp:500;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:34500;sp:500;"
								style="z-index:8;font-family:'Open Sans';text-transform:uppercase;"
							>Up to 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-3-layer-28" 
								data-type="text"
								data-color="rgba(255,255,255,1)"
								data-rsp_ch="on"
								data-xy="x:c;xo:-18px;y:c;yo:142px;"
								data-text="s:40;l:40;a:center;"
								data-frame_0="y:-50;"
								data-frame_1="st:11000;sp:500;"
								data-frame_999="sX:0.7;sY:0.7;o:0;e:back.in;st:34500;sp:500;"
								style="z-index:10;font-family:'Open Sans';"
							>1000s of Selected Lines 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1024,778,480],el:[720],gw:[1920],gh:[720],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi2 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400%7COpen+Sans:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}.is-wistia iframe{visibility:hidden;  opacity:0;  transition:all 0.3s ease-out !important; transition-property:visibility,opacity !important}.is-wistia.wistia-ready iframe{visibility:visible; opacity:1}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi2;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi2 = window.revapi2===undefined || window.revapi2===null || window.revapi2.length===0  ? document.getElementById("20") : window.revapi2;
			if(window.revapi2 === null || window.revapi2 === undefined || window.revapi2.length==0) { window.revapi2initTry = window.revapi2initTry ===undefined ? 0 : window.revapi2initTry+1; if (window.revapi2initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi2 = revQuery(window.revapi2);
			if(window.revapi2.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi2.revolutionInit({
					revapi:"revapi2",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"35000ms",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"6343dc8768172",
					gridwidth:1920,
					gridheight:720,
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1024,778,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
							var api = revapi2;
 
/* no need to edit below */
var touch = 'ontouchend' in document;
 
jQuery('.rev_slider').find('iframe').each(function() {
 
    var $this = jQuery(this),
        src = $this.attr('src');
 
    if(src.search('wistia') !== -1) {
 
        $this = $this.closest('.tp-caption');
        $this.data('wistia-layer', $this.html()).empty().addClass('is-wistia');
 
    }
 
});
 
api.on('revolution.slide.onafterswap', function (e, data) {
 
    data.currentslide.find('.is-wistia').each(onLayers);
 
}).on('revolution.slide.onbeforeswap', function(e, data) {
 
    var $this = data.currentslide.find('.is-wistia').empty().removeClass('wistia-ready');
    clearTimeout($this.data('wistia-timer'));    
 
});
 
function onLayers() {
 
    var $this = jQuery(this),
        frame = jQuery($this.data('wistia-layer'));
 
    if(!touch) {
        frame.one('load', onLoaded).appendTo($this);
    }
    else {
        frame.appendTo($this);
        onLoaded.call(frame[0]);
    }  
 
}
 
function onLoaded() {
 
    api.revredraw();
 
    var $this = jQuery(this).closest('.is-wistia');
    $this.data('wistia-timer', setTimeout(function() {$this.addClass('wistia-ready');}, 500));
 
} 
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_UK-Black-Friday-22" ).after( "<div id='revslider_show_UK-Black-Friday-22'></div>" );
                            revQuery( "#revslider_drag_UK-Black-Friday-22" ).hide();
                            revQuery("#revslider_foot_UK-Black-Friday-22").appendTo("#revslider_show_UK-Black-Friday-22");
                            revQuery("#revslider_show_UK-Black-Friday-22 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>